html {
	background-color: lightgrey;
}

body {
	font-family: Helvetica, Arial, sans-serif;
}

ul {
	list-style: none;
}
/*direktes Kind vom Body und keine darunter*/
header > h1 {
	text-transform: uppercase;
	display: inline;
}

article h1 {
	font-size: 20px;
	}

.html5-tag {
	color: red;
	color: blue;
}

.profile-image{
	height: 50px;
	}

#special-one {
	color: green;
}