body {

}

a,
.main-nav li {
  color: red;
  font-style: italic;
}

.main-nav ul {
  list-style: none;
}

.blue {
  color: blue;
}

.hidden {
  display: none;
}

.bold {
	font-weight: bold;
}

.increase-font-size {
	font-size: 32px;
}
